.cover {
    height: 100dvh;
    color: #c1bdb3;
}

.coverVideo {
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    pointer-events: none;
}

.videoOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom, rgba(13, 32, 37, 0.8) 0 60%, rgba(13, 32, 37, 1) 100%);
    pointer-events: none;
}

.cover .grid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 80px);
    padding: 40px;

    display: grid;
    grid-template-columns: max(400px, 40%) 1fr;
    place-items: center;
}

.cover .grid div:nth-child(1) {
    text-align: right;
}
.cover .grid div:nth-child(1) h1 {
    margin-bottom: 20px;
    font-size: 200px;
    line-height: 160px;
}

.cover .grid div:nth-child(2) p {
    border-left: #c2782b 1px solid;
    text-align: left;
    margin-left: 25px;
    padding-left: 25px;
    font-size: 30px;
}

.orange {
    color: #c2782b;
}

.intro {
    background-color: #0d2025;
    color: #c1bdb3;
}

.intro h3, .intro p {
    margin: 20px;
}

.biography {

}

.timeline {
    background-color: #0d2025;
    color: #c1bdb3;
}

.timelineDate {
    width: 100%;
    height: 100vh;
}

.timelineDate h1 {
    position: relative;
    top: 40px;
    color: #ffffff;
    font-size: 400px;
}

.timelineGrid {
    margin: 0 30px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timelineGrid .timelineBar {
    width: 8px;
    height: 100%;
}
.timelineGrid .timelineBar.top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.timelineGrid .timelineBar.bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}